@include jacket(critical) {

    .field--name-field-primary-image {
    	.node--view-mode-teaser & {
        	line-height: 0;
        	margin: -1.5em -1.5em 0 -1.5em;
    	}
	}

// END CRITICAL
}

@include jacket(non-critical) {
    @include mq($from: regular) {
        .field--name-field-primary-image {
            float: right;
            width: 70%;
        }
    }
}