/**
 * @file
 * Rules for the responsive layout broken into sub components.
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

@import "../base/config";

@include jacket(critical) {

  /*
   * Center the page.
   */

  #page,
  #footer,
  .region-bottom {
    @include grid-full-container;
  }

  /*
   * Apply the shared properties of grid items in a single, efficient ruleset.
   */
  // See the note about $zen-auto-include-item-base above.

  #header,
  #navigation,
  #content,
  .region-sidebar-first,
  .region-sidebar-second,
  .region-navigation,
  #footer,
  .group-meta,
  .group-images {
    // @include zen-grid-item-base();
  }

  /*
   * Containers for grid items and flow items.
   */

  #header,
  #main,
  #footer {
    // @include zen-grid-container();
  }

  /*
   * Salvattore width defaults
   */

  .column {
    float: left;
  }
  .size-1of4 {
    width: 25%;
  }
  .size-1of3 {
    width: 33.333%;
  }
  .size-1of2 {
    width: 50%;
  }
  .size-1of1 {
    float: none;
  }

// END CRITICAL
}


@include jacket(non-critical) {

}
