/**
 * @file
 * Field Styling
 *
 * The Fences module allows site builders to pick the semeantic HTML5 element
 * for each field while editing the field's settings. There's no way a theme
 * can ever know which element to use for the fields on your site, so Zen
 * just uses lets Drupal core or Fences decide. Since you DO NOT want 3 wrapping
 * divs around every field (do you?), we highly recommend Fences.
 *
 * http://drupal.org/project/fences
 */

@import "../config/config";

// Placeholder for tags styling
%tags {
	text-transform: uppercase;
	background:$light;
	font-size: 0.75em;
	float:left;
	line-height:1em;
	margin-right:0.5em;
	margin-bottom:0.5em;

	a {
		&:link, &:visited {
			color: $text;
			padding: 1em 1em 0.95em;
			display: block;
		}
		&:hover {
			background:$primary_color;
		}

		&.active {
			color: $text;
		}
	}
}

@include jacket(critical) {

	/*
	 * Group category tags
	 */
	.node-teaser {
		.group-category {
			position: absolute;
			top: 1em;
			left: 0;
		}
		.field-category {
			@extend %tags;
			margin:0;
			clear:both;
			background:$page;
			border-left:3px solid $primary_dark;
		}
	}

// END CRITICAL
}

@include jacket(non-critical) {

	.group-images {
		text-align: center;
	}
	
	/*
	 * Field wrappers when the Fences module is enabled.
	 */

	.field-primary-image,
	.field-teaser-image,
	.field-image {
		line-height:0;
		margin-bottom:1em;
	}

	.group-links {
		clear: both;
	}

	.field-links {
		float:left;
		clear:both;
		display:inline-block;
		margin-bottom:1em;

		a {
			background: $primary_color;
			padding: 0.75em 1.5em;
			border-radius: 10em;
			color: $text;
			text-transform: uppercase;
			@include transition(background-color $transition_time);
			letter-spacing: 1px;
			display:block;

			&:hover{
				background-color: lighten($primary_color, 20%);
			}
		}
	}

	.field-category,
	.field-primary-tags,
	.field-tags {
		@extend %tags;
	}

	.group-tags,
	.group-links {
		margin-bottom:1.5em;
	}

	.field-code-snippet {
		clear:both;
		font-size: 0.875em;
	}

	.syntaxhighlighter {
		border-radius: 0.25em;
		padding: 1em 0;

		* {
			white-space: normal !important;
		}
	}

	.view-mode-full {
		.group-meta {
			background: #fcfcfc;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
			padding-top:1em;
			padding-bottom:1em;

			p:first-child {
				margin-top:0.5em;
			}

			.group-tags {
				margin-bottom:0.5em;
			}

			.field-primary-image,
			.field-image {
				margin-bottom:1em;
			}
		}
	}

	.node-teaser {
		.group-tags {
			margin: 0 0.5em;
			padding: 0 0.5em;
		}
		.field-teaser-image,
		.field-primary-image{
			@include single-transition(opacity, 0.25s);
			@include backface-visibility(hidden);
			&:hover {
				opacity:0.7;
			}
		}
	}

	.feed-icon {
		float:right;
		clear:both;
	}

}