/**
 * @file
 * Tabs Styling
 *
 * Adds styles for the primary and secondary tabs.
 *
 * Compare this with default CSS found in the system module's stylesheet (a copy
 * of which is in drupal7-reference.css.)
 */

@import "../config/config";


// Some variables to make altering the styling easier.
$tabs-container-bg: #fff;
$tabs-border: #bbb;


/*
 * Basic positioning styles shared by primary and secondary tabs.
 */

ul.primary,
ul.secondary {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right:0;
  font-size:0.875em;

  li {
    float: left; /* LTR */

    &.active {}
  }

  a,
  a:link,
  a:visited {
    color: #333;
    background-color: $primary_light;
    padding: 0 1em;
    text-align: center;
    display: block;
  }

  a:hover,
  a:focus {
    background-color: lighten($primary_light, 10%);
  }

  a.active {
    background-color: $light;
  }
}